html {
  font-size: 125%;
  line-height: 1.5;
  box-sizing: border-box;
  color: rgb(22, 22, 22);
}

html,
input,
button {
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

a {
  color: #828282;
}

a:hover {
  color: #a8a8a8;
}

.login-form {
  background-color: #fff;
  padding: 2em;
}

.login-form label {
  display: block;
  margin-bottom: 0.25em;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  font-size: 1rem;
  padding: 0.75em;
  border: 0;
  border-bottom: 3px solid #ebeff0;
  border-radius: 3px;
  background: #f4f9fb;
  margin-bottom: 1em;
}

.login-form input::placeholder {
  color: #a7a7a7;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  padding: 0.75em;
  background: #4facfe;
  color: #fff;
  border: 0;
  border-radius: 3px;
  margin-bottom: 1em;
  cursor: pointer;
}

.forgotten-password {
  text-align: center;
  margin-bottom: 1em;
  font-size: 00.75em;
}

.sign-up {
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 1em;
  text-align: center;
  font-size: 00.75em;
}

@media screen and (min-width: 720px) {
  .login-form {
    border-radius: 6px;
    margin: 0 auto;
    max-width: 25em;
  }

  .login-form {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}


























































